In [1]:
import pandas as pd

In [2]:
letters = pd.read_csv("letterdata.csv")

In [3]:
letters.head(10)

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [4]:
letters["letter"].value_counts().sort_index()

A    789
B    766
C    736
D    805
E    768
F    775
G    773
H    734
I    755
J    747
K    739
L    761
M    792
N    783
O    753
P    803
Q    783
R    758
S    748
T    796
U    813
V    764
W    752
X    787
Y    786
Z    734
Name: letter, dtype: int64

In [5]:
letters.iloc[:,1:].describe()

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [6]:
letters_train = letters.iloc[0:14000,] 
letters_test = letters.iloc[14000:20000,]

In [7]:
from sklearn.svm import SVC

In [8]:
letter_recognition_model = SVC(C = 1, kernel = "linear")

In [9]:
letter_recognition_model.fit(letters_train.iloc[:,1:],letters_train['letter'])

SVC(C=1, kernel='linear')

In [10]:
from sklearn import metrics

In [11]:
letters_pred = letter_recognition_model.predict(letters_test.iloc[:,1:])

In [12]:
print(metrics.classification_report(letters_test["letter"], letters_pred))

              precision    recall  f1-score   support

           A       0.92      0.92      0.92       245
           B       0.78      0.87      0.82       207
           C       0.82      0.84      0.83       202
           D       0.77      0.91      0.83       251
           E       0.80      0.86      0.83       230
           F       0.77      0.89      0.82       240
           G       0.73      0.75      0.74       235
           H       0.65      0.70      0.67       210
           I       0.89      0.86      0.87       243
           J       0.83      0.88      0.86       216
           K       0.79      0.84      0.81       214
           L       0.95      0.86      0.90       250
           M       0.89      0.94      0.92       224
           N       0.95      0.88      0.91       246
           O       0.87      0.71      0.78       216
           P       0.92      0.80      0.86       246
           Q       0.85      0.75      0.80       252
           R       0.81      0.84      0.82       242
           S       0.75      0.67      0.71       240
           T       0.89      0.90      0.90       226
           U       0.91      0.92      0.92       248
           V       0.91      0.91      0.91       212
           W       0.90      0.92      0.91       216
           X       0.89      0.84      0.86       230
           Y       0.93      0.88      0.90       223
           Z       0.86      0.83      0.84       236

    accuracy                           0.84      6000
   macro avg       0.85      0.84      0.84      6000
weighted avg       0.85      0.84      0.84      6000

In [14]:
print(pd.DataFrame(metrics.confusion_matrix(letters_test["letter"],letters_pred,labels = letters['letter'].value_counts().sort_index().index.values),columns = letters['letter'].value_counts().sort_index().index.values,index = letters['letter'].value_counts().sort_index().index.values))

     A    B    C    D    E    F    G    H    I    J  ...    Q    R    S    T  \
A  225    1    0    2    0    0    2    0    0    1  ...    0    2    1    0
B    0  181    0    4    1    0    1    2    1    1  ...    0   10    4    0
C    1    0  169    0    8    0    7    0    0    0  ...    0    0    0    0
D    1    9    0  228    0    1    1    2    0    1  ...    0    0    0    0
E    0    2    5    0  197    2   11    0    0    0  ...    1    1    1    5
F    0    1    3    1    3  213    1    2    2    3  ...    0    0    0    4
G    0    2   14    2    1    4  177    2    0    0  ...    9    3    5    0
H    1    4    2   12    0    5    4  147    0    1  ...    3    9    0    1
I    0    1    2    4    0    7    0    0  208   12  ...    0    0    2    0
J    2    0    0    2    0    2    0    3   11  190  ...    0    0    2    0
K    0    0    2    5    4    0    1    5    0    0  ...    0   12    0    0
L    0    0    5    5    6    0    3    2    0    0  ...    4    1    3    1
M    1    3    0    0    0    0    0    3    0    0  ...    0    2    0    0
N    1    0    0    7    0    0    0   10    0    0  ...    0    2    0    0
O    3    0    3    7    0    0    2   26    0    1  ...    5    1    0    0
P    0    2    0    3    0   25    5    0    1    1  ...    1    1    0    0
Q    5    5    0    1    7    1   14    3    0    4  ...  190    1   13    0
R    0   11    0    4    0    0    2    6    0    0  ...    0  203    0    0
S    1    8    0    1   10    7    7    0    4    1  ...    9    1  160    3
T    1    0    0    0    0    3    2    5    0    0  ...    0    1    2  204
U    1    0    0    1    0    0    0    1    0    0  ...    0    0    0    1
V    0    2    0    0    0    2    0    4    0    0  ...    0    1    0    0
W    1    0    0    0    0    0    0    0    0    0  ...    0    0    0    0
X    0    1    0    5    5    1    1    0    6    3  ...    0    0    2    2
Y    0    0    0    3    0    4    0    3    1    0  ...    2    0    0    5
Z    1    0    0    1    4    1    0    0    1    9  ...    0    0   18    3

     U    V    W    X    Y    Z
A    2    0    0    0    3    3
B    0    0    0    1    0    0
C    4    0    0    0    0    0
D    3    0    0    0    0    0
E    0    0    0    2    0    2
F    0    0    0    0    1    0
G    0    6    1    0    0    0
H    2    3    0    2    0    0
I    0    0    0    4    0    3
J    0    0    0    0    0    2
K    2    0    0    4    0    0
L    0    0    0    6    0    0
M    1    0    4    0    0    0
N    1    2    0    0    0    0
O    3    1    4    1    0    0
P    1    0    0    0    5    0
Q    0    1    0    0    0    0
R    0    1    0    1    0    0
S    0    0    0    2    1   20
T    0    0    0    0    3    3
U  228    0    6    0    0    0
V    0  193    6    0    1    0
W    2    2  199    0    0    0
X    1    0    0  193    1    0
Y    0    4    1    1  196    0
Z    0    0    0    1    0  196

[26 rows x 26 columns]

In [16]:
agreement = letters_test["letter"] == letters_pred

In [17]:
print(agreement.value_counts())

True     5068
False     932
Name: letter, dtype: int64

In [18]:
print("Accuracy:", metrics.accuracy_score(letters_test["letter"], letters_pred))

Accuracy: 0.8446666666666667

In [19]:
kernels = ["rbf","poly","sigmoid"]
for kernel in kernels:
    letters_model = SVC(C = 1, kernel = kernel)
    letters_model.fit(letters_train.iloc[:,1:],letters_train['letter'])
    letters_pred = letters_model.predict(letters_test.iloc[:,1:])
    print("kernel = ", kernel , ", Accuracy:",\
    metrics.accuracy_score(letters_test["letter"], letters_pred))

c_list = [0.01, 0.1, 1, 10, 100]
for C in c_list:
    letters_model = SVC(C = C, kernel = "rbf")
    letters_model.fit(letters_train.iloc[:,1:],letters_train['letter'])
    letters_pred = letters_model.predict(letters_test.iloc[:,1:])
    print("C = ", C , ", Accuracy:",\
    metrics.accuracy_score(letters_test["letter"], letters_pred))

kernel =  rbf , Accuracy: 0.917
kernel =  poly , Accuracy: 0.9411666666666667
kernel =  sigmoid , Accuracy: 0.051166666666666666
C =  0.01 , Accuracy: 0.44466666666666665
C =  0.1 , Accuracy: 0.7983333333333333
C =  1 , Accuracy: 0.917
C =  10 , Accuracy: 0.9621666666666666
C =  100 , Accuracy: 0.9691666666666666

In [20]:
kernels = ["rbf","poly","sigmoid"]
for kernel in kernels:
    letters_model = SVC(C = 1, kernel = kernel)
    letters_model.fit(letters_train.iloc[:,1:],letters_train['letter'])
    letters_pred = letters_model.predict(letters_test.iloc[:,1:])
    print("kernel = ", kernel , ", Accuracy:",\
    metrics.accuracy_score(letters_test["letter"], letters_pred))

kernel =  rbf , Accuracy: 0.917
kernel =  poly , Accuracy: 0.9411666666666667
kernel =  sigmoid , Accuracy: 0.051166666666666666

In [21]:
c_list = [0.01, 0.1, 1, 10, 100]
for C in c_list:
    letters_model = SVC(C = C, kernel = "rbf")
    letters_model.fit(letters_train.iloc[:,1:],letters_train['letter'])
    letters_pred = letters_model.predict(letters_test.iloc[:,1:])
    print("C = ", C , ", Accuracy:",\
    metrics.accuracy_score(letters_test["letter"], letters_pred))

C =  0.01 , Accuracy: 0.44466666666666665
C =  0.1 , Accuracy: 0.7983333333333333
C =  1 , Accuracy: 0.917
C =  10 , Accuracy: 0.9621666666666666
C =  100 , Accuracy: 0.9691666666666666