In [1]:
import pandas as pd
url = 'train.csv'
train = pd.read_csv(url)

In [2]:
train.head(10)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0

In [3]:
train.shape

(15327, 14)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15327 entries, 0 to 15326
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15327 non-null  int64
 1   city                    15327 non-null  object
 2   city_development_index  15327 non-null  float64
 3   gender                  11720 non-null  object
 4   relevent_experience     15327 non-null  object
 5   enrolled_university     15022 non-null  object
 6   education_level         14975 non-null  object
 7   major_discipline        13085 non-null  object
 8   experience              15282 non-null  object
 9   company_size            10544 non-null  object
 10  company_type            10380 non-null  object
 11  last_new_job            14987 non-null  object
 12  training_hours          15327 non-null  int64
 13  target                  15327 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.6+ MB

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns  #作图
from pylab import mpl   
mpl.rcParams['font.sans-serif'] = ['Kaiti']
# 显示数值型特征列的描述统计信息
print(train.describe())

        enrollee_id  city_development_index  training_hours        target
count  15327.000000            15327.000000    15327.000000  15327.000000
mean   16846.714491                0.828427       65.142298      0.250343
std     9609.960769                0.123460       59.628645      0.433224
min        2.000000                0.448000        1.000000      0.000000
25%     8540.500000                0.739000       23.000000      0.000000
50%    16932.000000                0.903000       47.000000      0.000000
75%    25157.000000                0.920000       88.000000      1.000000
max    33380.000000                0.949000      336.000000      1.000000

In [7]:
train_corr = train.corr(method='pearson') 
print(train_corr)    
train_corr = train_corr.abs()
plt.figure(figsize=(11, 9),dpi=100)  
sns.heatmap(train=train_corr)

                        enrollee_id  city_development_index  training_hours  \
enrollee_id                1.000000               -0.041236        0.004673
city_development_index    -0.041236                1.000000        0.000244
training_hours             0.004673                0.000244        1.000000
target                     0.046260               -0.343097       -0.023599

                          target
enrollee_id             0.046260
city_development_index -0.343097
training_hours         -0.023599
target                  1.000000

TypeError: heatmap() missing 1 required positional argument: 'data'

In [71]:
# 显示类别型特征列的所有取值及出现次数
train.target.value_counts()  #默认按照数量从多到少的顺序排列

0    5951
1    1197
Name: target, dtype: int64

In [72]:
# 生成X和y
feature_cols = ['city_development_index','gender','relevent_experience','education_level','experience', 'company_size', 'last_new_job', 'training_hours']  #提取认为对于分类有用的特征列
X = train[feature_cols]
y = train.target

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [74]:
#bagging
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [75]:
parameters = {'n_estimators':[20, 50, 100],
              'max_samples':[0.2, 0.5, 0.8],
             }
bag_clf = GridSearchCV(BaggingClassifier(), param_grid = parameters, cv = 5, scoring='accuracy')

In [76]:
bag_clf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=BaggingClassifier(),
             param_grid={'max_samples': [0.2, 0.5, 0.8],
                         'n_estimators': [20, 50, 100]},
             scoring='accuracy')

In [77]:
print(bag_clf.best_params_)
print(bag_clf.best_score_)

{'max_samples': 0.2, 'n_estimators': 20}
0.8544893106893108

In [78]:
y_pred = bag_clf.predict(X_test)

In [79]:
# 输出对测试数据预测的精度、查准率、查全率和F1分数
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.8522144522144522
              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1770
           1       0.63      0.37      0.47       375

    accuracy                           0.85      2145
   macro avg       0.76      0.66      0.69      2145
weighted avg       0.83      0.85      0.84      2145

In [80]:
#boosting
from sklearn.ensemble import GradientBoostingClassifier
import warnings

In [81]:
warnings.filterwarnings("ignore")
parameters = {'n_estimators':[20, 50, 100, 200, 300, 400],
              'subsample':[0.2, 0.5, 0.8],
              'max_depth':[1, 2, 3],
              'max_features':[3, 4, 5]}
gbc_clf = GridSearchCV(GradientBoostingClassifier(),param_grid = parameters, cv = 5, scoring='accuracy')

In [82]:
gbc_clf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=GradientBoostingClassifier(),
             param_grid={'max_depth': [1, 2, 3], 'max_features': [3, 4, 5],
                         'n_estimators': [20, 50, 100, 200, 300, 400],
                         'subsample': [0.2, 0.5, 0.8]},
             scoring='accuracy')

In [83]:
print(gbc_clf.best_params_)
print(gbc_clf.best_score_)

{'max_depth': 2, 'max_features': 4, 'n_estimators': 100, 'subsample': 0.8}
0.8594857142857142

In [84]:
y_pred = gbc_clf.predict(X_test)

In [85]:
# 输出对测试数据预测的精度、查准率、查全率和F1分数
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.8601398601398601
              precision    recall  f1-score   support

           0       0.90      0.94      0.92      1770
           1       0.63      0.48      0.55       375

    accuracy                           0.86      2145
   macro avg       0.76      0.71      0.73      2145
weighted avg       0.85      0.86      0.85      2145

In [86]:
#stacking
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression

In [87]:
st_clf = StackingClassifier(estimators = [('gbc',GradientBoostingClassifier(max_depth=1, max_features=3, n_estimators=20, subsample=0.5)),
                                          ('bag',BaggingClassifier(max_samples=0.3,n_estimators=20))] , 
                            final_estimator = LogisticRegression())
st_clf._estimator_type = "classifier"

In [88]:
st_clf.fit(X_train, y_train)

StackingClassifier(estimators=[('gbc',
                                GradientBoostingClassifier(max_depth=1,
                                                           max_features=3,
                                                           n_estimators=20,
                                                           subsample=0.5)),
                               ('bag',
                                BaggingClassifier(max_samples=0.3,
                                                  n_estimators=20))],
                   final_estimator=LogisticRegression())

In [89]:
y_pred = st_clf.predict(X_test)

In [90]:
# 输出对测试数据预测的精度、查准率、查全率和F1分数
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.8601398601398601
              precision    recall  f1-score   support

           0       0.90      0.94      0.92      1770
           1       0.63      0.49      0.55       375

    accuracy                           0.86      2145
   macro avg       0.76      0.71      0.73      2145
weighted avg       0.85      0.86      0.85      2145

In [91]:
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5) 
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [92]:
y_pred = classifier.predict(X_test)

In [93]:
from sklearn.metrics import classification_report, confusion_matrix  
import numpy as np  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))    
print("Test set score: {:.2f}".format(np.mean(y_pred == y_test)))

[[1703   67]
 [ 342   33]]
              precision    recall  f1-score   support

           0       0.83      0.96      0.89      1770
           1       0.33      0.09      0.14       375

    accuracy                           0.81      2145
   macro avg       0.58      0.53      0.52      2145
weighted avg       0.74      0.81      0.76      2145

Test set score: 0.81